@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary-color: #0ca3ff;
  --secondary-color: #fff;
  --accent1-color: #0ca3ff;
  --accent2-color: #9adeff;

  /* change the values below to your chosen font(s) */
  --heading-font: "Nunito", sans-serif;
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #0ca3ff;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #0ca3ff; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #0ca3ff  ;
  --nav-link-color: #0ca3ff;
  --nav-background-color: white;
  --nav-hover-link-color: #9adeff;
  --nav-hover-background-color: transparent;
}


html, body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  /* height: 100px; */
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--accent1-color);

  z-index: 1000;
}

.site-logo {
  width: 100px;
  height: 100px;
}

.site-logo img {
  width: 100%;
  height: 100%;
}


nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 20px;
  margin-left: 30px;
}

nav a:hover {
  color: var(--nav-hover-link-color);
}

.landing {
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
}

.landing img {
  width: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  border-top: 2px solid var(--accent1-color);
  overflow: hidden;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 100px;
  box-sizing: border-box;
}

footer .footer-logo {
  width: 100px;
  height: 100px;
}

footer .footer-logo img {
  width: 100%;
  height: 100%;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer-col p {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 24px;
  color: var(--headline-color-on-white);
  text-align: center;
}

.footer-col a {
  color: var(--nav-link-color);
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

button {
  font-family: var(--heading-font);
  font-size: 20px;
  font-weight: 700;
  color: var(--nav-link-color);
  background-color: var(--nav-background-color);
  border: 2px solid var(--nav-link-color);
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  transform: scale(0.98);  
}

@media (max-width: 768px) {
  header {
    padding: 0px 20px;
  }

  footer {
    padding: 20px 20px;
  }

  nav a {
    font-size: 16px;
    margin-left: 20px;
  }

  footer .footer-col p {
    font-size: 20px;
  }

  footer .footer-col a {
    font-size: 16px;
  }

  button {
    font-size: 16px;
    padding: 10px 15px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1001; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}