@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: white;
  --secondary-color: #396E94;
  --accent1-color: #3a506b;
  --accent2-color: #1c2541;

  /* change the values below to your chosen font(s) */
  --heading-font: "Playwrite VN", sans-serif, "Ariel";
  --paragraph-font: "Ariel";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #fff;
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: #fff;
  --nav-hover-background-color: var(--accent1-color);
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

.home-title {
  font-family: var(--heading-font);
  font-size: 2em;
  margin-top: 10px;
}

.msg {
  font-family: var(--heading-font);
  background-color: var(--accent1-color);
  line-height: 1.5em;
}

nav a {
  text-align: center;
  padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
}

body {
  background-color: var(--primary-color);
  font-family: var(--heading-font), Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
}


header {
  background-color: rgba(0, 0, 255, 0.5)
}
nav a:hover {
  background-color: var(--accent1-color);
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.icon {
  padding-top: 10px;
}

.book, .join {
  background-color: var(--accent1-color);
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover {
  background-color: var(--accent2-color);
}
#background {
  background-color: var(--accent2-color);
}
.msg { background-color: var(--accent1-color); padding: 35px; }

.msg p { padding-bottom: 15px; }
.card-img {
  border: 10px solid #d9c2a3;
}
main section img {
  box-sizing: border-box;
}
footer {
  background-color: var(--secondary-color);
  padding: 25px 50px;
  margin-top: 200px;
}

footer .social img {
  padding-top: 15px;
}

#logo_link {
  padding-top: 5px;
}